@import 'form.css';
@import 'modal.css';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,43,135,1) 47%, rgba(16,104,185,1) 100%);
  height: 100px;
  line-height: 100px;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
}

.blurry {
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}

.title {
  color: white;
  text-align: center;
  width: '100%'
}

.hidden {
  display: none;
}

#tablearea {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  color: white;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

table {
  margin-top: 100px;
  padding: 15px;
  background-color: #1068b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  width: 50%;
  max-width: 500px;
}
